/*****************************************************************************
middle size mahjong images
*****************************************************************************/

/* spacer */
.mj-e-m { width:3px; height:18px; }

/* mj-{direct}-{id}-{size} */

/* s */
.mj-S-t-m {
	width:5px; height:30px;
	background:url(mj-m.gif) no-repeat -229px -256px;
}

.mj-S-b0-m {
	width:22px; height:33px;
	background:url(mj-m.gif) no-repeat -43px -257px;
}
.mj-S-b1-m {
	width:16px; height:23px; padding: 9px 3px 2px 3px;
	background:url(mj-m.gif) no-repeat -150px -253px;
}
.mj-S-b2-m {
	width:16px; height:23px; padding: 2px 3px 8px 3px;
	background:url(mj-m.gif) no-repeat -128px -253px;
}

.mj-S-1-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -0px -0px
}
.mj-S-2-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -16px -0px
}
.mj-S-3-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -32px -0px
}
.mj-S-4-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -48px -0px
}
.mj-S-5-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -64px -0px
}
.mj-S-6-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -80px -0px
}
.mj-S-7-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -96px -0px
}
.mj-S-8-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -112px -0px
}
.mj-S-9-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -128px -0px
}
.mj-S-11-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -0px -23px
}
.mj-S-12-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -16px -23px
}
.mj-S-13-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -32px -23px
}
.mj-S-14-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -48px -23px
}
.mj-S-15-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -64px -23px
}
.mj-S-16-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -80px -23px
}
.mj-S-17-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -96px -23px
}
.mj-S-18-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -112px -23px
}
.mj-S-19-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -128px -23px
}
.mj-S-21-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -0px -46px
}
.mj-S-22-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -16px -46px
}
.mj-S-23-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -32px -46px
}
.mj-S-24-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -48px -46px
}
.mj-S-25-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -64px -46px
}
.mj-S-26-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -80px -46px
}
.mj-S-27-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -96px -46px
}
.mj-S-28-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -112px -46px
}
.mj-S-29-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -128px -46px
}
.mj-S-31-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -0px -69px
}
.mj-S-32-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -16px -69px
}
.mj-S-33-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -32px -69px
}
.mj-S-34-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -48px -69px
}
.mj-S-35-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -64px -69px
}
.mj-S-36-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -80px -69px
}
.mj-S-37-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -96px -69px
}

/* w */
.mj-W-t-m {
	width:31px; height:5px;
	background:url(mj-m.gif) no-repeat -185px -281px;	
}

.mj-W-b0-m {
	width:29px; height:27px;
	background:url(mj-m.gif) no-repeat -13px -259px;
}
.mj-W-b1-m {
	width:13px; height:36px;
	background:url(mj-m.gif) no-repeat -0px -250px;
}
.mj-W-b2-m {
	width:23px; height:16px; padding: 2px 3px 9px 3px;
	background:url(mj-m.gif) no-repeat -99px -259px;
}

.mj-W-1-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -213px -0px
}
.mj-W-2-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -213px -16px
}
.mj-W-3-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -213px -32px
}
.mj-W-4-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -213px -48px
}
.mj-W-5-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -213px -64px
}
.mj-W-6-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -213px -80px
}
.mj-W-7-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -213px -96px
}
.mj-W-8-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -213px -112px
}
.mj-W-9-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -213px -128px
}
.mj-W-11-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -190px -0px
}
.mj-W-12-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -190px -16px
}
.mj-W-13-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -190px -32px
}
.mj-W-14-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -190px -48px
}
.mj-W-15-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -190px -64px
}
.mj-W-16-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -190px -80px
}
.mj-W-17-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -190px -96px
}
.mj-W-18-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -190px -112px
}
.mj-W-19-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -190px -128px
}
.mj-W-21-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -167px -0px
}
.mj-W-22-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -167px -16px
}
.mj-W-23-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -167px -32px
}
.mj-W-24-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -167px -48px
}
.mj-W-25-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -167px -64px
}
.mj-W-26-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -167px -80px
}
.mj-W-27-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -167px -96px
}
.mj-W-28-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -167px -112px
}
.mj-W-29-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -167px -128px
}
.mj-W-31-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -144px -0px
}
.mj-W-32-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -144px -16px
}
.mj-W-33-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -144px -32px
}
.mj-W-34-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -144px -48px
}
.mj-W-35-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -144px -64px
}
.mj-W-36-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -144px -80px
}
.mj-W-37-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -144px -96px
}

/* n */
.mj-N-t-m {
	width:5px; height:30px;
	background:url(mj-m.gif) no-repeat -229px -256px;
}

.mj-N-b0-m {
	width:22px; height:33px;
	background:url(mj-m.gif) no-repeat -43px -257px;
}
.mj-N-b1-m {
	width:22px; height:33px;
	background:url(mj-m.gif) no-repeat -64px -253px;
}
.mj-N-b2-m {
	width:16px; height:23px; padding: 2px 3px 8px 3px;
	background:url(mj-m.gif) no-repeat -128px -253px;
}

.mj-N-1-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -220px -213px
}
.mj-N-2-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -204px -213px
}
.mj-N-3-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -188px -213px
}
.mj-N-4-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -172px -213px
}
.mj-N-5-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -156px -213px
}
.mj-N-6-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -140px -213px
}
.mj-N-7-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -124px -213px
}
.mj-N-8-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -108px -213px
}
.mj-N-9-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -92px -213px
}
.mj-N-11-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -220px -190px
}
.mj-N-12-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -204px -190px
}
.mj-N-13-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -188px -190px
}
.mj-N-14-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -172px -190px
}
.mj-N-15-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -156px -190px
}
.mj-N-16-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -140px -190px
}
.mj-N-17-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -124px -190px
}
.mj-N-18-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -108px -190px
}
.mj-N-19-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -92px -190px
}
.mj-N-21-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -220px -167px
}
.mj-N-22-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -204px -167px
}
.mj-N-23-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -188px -167px
}
.mj-N-24-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -172px -167px
}
.mj-N-25-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -156px -167px
}
.mj-N-26-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -140px -167px
}
.mj-N-27-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -124px -167px
}
.mj-N-28-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -108px -167px
}
.mj-N-29-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -92px -167px
}
.mj-N-31-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -220px -144px
}
.mj-N-32-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -204px -144px
}
.mj-N-33-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -188px -144px
}
.mj-N-34-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -172px -144px
}
.mj-N-35-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -156px -144px
}
.mj-N-36-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -140px -144px
}
.mj-N-37-m {
	width:16px; height:23px;
	background:url(mj-m.gif) no-repeat -124px -144px
}

/* e */
.mj-E-t-m {
	width:31px; height:5px;
	background:url(mj-m.gif) no-repeat -185px -281px;	
}

.mj-E-b0-m {
	width:29px; height:27px;
	background:url(mj-m.gif) no-repeat -13px -259px;
}
.mj-E-b1-m {
	width:13px; height:36px;
	background:url(mj-m.gif) no-repeat -86px -250px;
}
.mj-E-b2-m {
	width:23px; height:16px; padding: 2px 3px 9px 3px;
	background:url(mj-m.gif) no-repeat -99px -259px;
}

.mj-E-1-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -0px -220px
}
.mj-E-2-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -0px -204px
}
.mj-E-3-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -0px -188px
}
.mj-E-4-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -0px -172px
}
.mj-E-5-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -0px -156px
}
.mj-E-6-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -0px -140px
}
.mj-E-7-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -0px -124px
}
.mj-E-8-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -0px -108px
}
.mj-E-9-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -0px -92px
}
.mj-E-11-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -23px -220px
}
.mj-E-12-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -23px -204px
}
.mj-E-13-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -23px -188px
}
.mj-E-14-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -23px -172px
}
.mj-E-15-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -23px -156px
}
.mj-E-16-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -23px -140px
}
.mj-E-17-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -23px -124px
}
.mj-E-18-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -23px -108px
}
.mj-E-19-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -23px -92px
}
.mj-E-21-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -46px -220px
}
.mj-E-22-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -46px -204px
}
.mj-E-23-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -46px -188px
}
.mj-E-24-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -46px -172px
}
.mj-E-25-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -46px -156px
}
.mj-E-26-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -46px -140px
}
.mj-E-27-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -46px -124px
}
.mj-E-28-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -46px -108px
}
.mj-E-29-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -46px -92px
}
.mj-E-31-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -69px -220px
}
.mj-E-32-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -69px -204px
}
.mj-E-33-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -69px -188px
}
.mj-E-34-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -69px -172px
}
.mj-E-35-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -69px -156px
}
.mj-E-36-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -69px -140px
}
.mj-E-37-m {
	width:23px; height:16px;
	background:url(mj-m.gif) no-repeat -69px -124px
}

