#chat {
    background:#BBB;
    width:320px;
    height:480px;
}
#chat #words {
    float:right;
    /* white-space: pre-line; */
    overflow:auto;
    width:220px;
    height:430px;
}
#chat #what {
    width:160px;
}
#chat #users {
    float:left;      
    overflow:auto;
    width:100px;
    height:430px;
}
#chat #tool {
    width:320px;
    height:50px;
    bottom:0px;
    left:0px;
}
#chat li.user {
    
}
