* {
    margin:0; padding:0;
}

body {
}

.site {
    width:960px; /* margin:0 auto; */
}

#head {
    height:60px; 
    border-bottom:5px solid #DDDDDD;
    background:#FCFCFC url(images/header_bg.png) repeat-x scroll 0 100%;
}
#head .logo {
    float:left;
}
#head .logo a img {
    border: 0px;
}
#head .actions {
    float:right;
    padding-top:1em;
}
#head .actions a {
    margin-left:1.5em;
    padding: .4em;
    text-decoration:none;
    color:#444;
}
#head .actions a:hover {
    background:#dcdcdc;
}

#body {
    height:480px;
    background:#f9f9f9;
}
#body #root {
    position:absolute; top:65px; left:0px;
    width:800px; height:480px;
}
#body #ad {
    float:right;
    width:160px; height:480px;
    font-size:67%;
    background:#fff;
}

#foot {
    border-top:5px solid #DDDDDD;
    font-size:80%;
/*  background:#BBCCD9 url(footer_bg.png) repeat-x scroll 0 0; */
}
#foot #log {
    border-top:5px solid #DDD;
    height:160px;
    overflow:auto;
    background:#EEE;
    font: normal normal 88% "Courier";
}
#foot .links {
    margin-left:12px;
    padding-top:0.1em;
    padding-bottom:0.1em;
}
#foot .links a {
    color:#444;
}

