body {
}
#head {
  color:#F00;
}
#side {
  float:right;
  width:36%;
  border:1px solid #000;
}
#main {
  margin-right:40%;
}
#words {
  overflow:auto;
  max-height:40%;
}
#foot {
  clear:both;
  color:#999;
}
.user {
}
