/*****************************************************************************
middle size mahjong images
*****************************************************************************/

/* spacer */
.mj-e-m { width:3px; height:18px; }

/* mj-{direct}-{id}-{size} */

/* s */
.mj-s-t-m {
	width:6px; height:40px;
	background:url(mj-m.gif) no-repeat -312px -348px;
}

.mj-s-b0-m {
	width:30px; height:48px;
	background:url(mj-m.gif) no-repeat -57px -343px;
}
.mj-s-b1-m {
	width:22px; height:30px; padding:14px 4px 3px 4px;
	background:url(mj-m.gif) no-repeat -204px -343px;
}
.mj-s-b2-m {
	width:22px; height:30px; padding:3px 4px 14px 4px;
	background:url(mj-m.gif) no-repeat -174px -343px;
}

.mj-s-1-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -0px -0px
}
.mj-s-2-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -22px -0px
}
.mj-s-3-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -44px -0px
}
.mj-s-4-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -66px -0px
}
.mj-s-5-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -88px -0px
}
.mj-s-6-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -110px -0px
}
.mj-s-7-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -132px -0px
}
.mj-s-8-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -154px -0px
}
.mj-s-9-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -176px -0px
}
.mj-s-11-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -0px -30px
}
.mj-s-12-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -22px -30px
}
.mj-s-13-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -44px -30px
}
.mj-s-14-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -66px -30px
}
.mj-s-15-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -88px -30px
}
.mj-s-16-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -110px -30px
}
.mj-s-17-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -132px -30px
}
.mj-s-18-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -154px -30px
}
.mj-s-19-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -176px -30px
}
.mj-s-21-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -0px -60px
}
.mj-s-22-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -22px -60px
}
.mj-s-23-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -44px -60px
}
.mj-s-24-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -66px -60px
}
.mj-s-25-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -88px -60px
}
.mj-s-26-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -110px -60px
}
.mj-s-27-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -132px -60px
}
.mj-s-28-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -154px -60px
}
.mj-s-29-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -176px -60px
}
.mj-s-31-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -0px -90px
}
.mj-s-32-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -22px -90px
}
.mj-s-33-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -44px -90px
}
.mj-s-34-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -66px -90px
}
.mj-s-35-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -88px -90px
}
.mj-s-36-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -110px -90px
}
.mj-s-37-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -132px -90px
}

/* w */
.mj-w-t-m {
	width:41px; height:7px;
	background:url(mj-m.gif) no-repeat -252px -382px;	
}

.mj-w-b0-m {
	width:40px; height:37px;
	background:url(mj-m.gif) no-repeat -17px -351px;	
}
.mj-w-b1-m {
	width:17px; height:49px;
	background:url(mj-m.gif) no-repeat 0px -339px;	
}
.mj-w-b2-m {
	width:33px; height:22px; padding: 2px 3px 13px 4px;
	background:url(mj-m.gif) no-repeat -117px -339px;	
}

.mj-w-1-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -288px -0px
}
.mj-w-2-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -288px -22px
}
.mj-w-3-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -288px -44px
}
.mj-w-4-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -288px -66px
}
.mj-w-5-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -288px -88px
}
.mj-w-6-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -288px -110px
}
.mj-w-7-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -288px -132px
}
.mj-w-8-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -288px -154px
}
.mj-w-9-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -288px -176px
}
.mj-w-11-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -258px -0px
}
.mj-w-12-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -258px -22px
}
.mj-w-13-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -258px -44px
}
.mj-w-14-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -258px -66px
}
.mj-w-15-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -258px -88px
}
.mj-w-16-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -258px -110px
}
.mj-w-17-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -258px -132px
}
.mj-w-18-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -258px -154px
}
.mj-w-19-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -258px -176px
}
.mj-w-21-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -228px -0px
}
.mj-w-22-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -228px -22px
}
.mj-w-23-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -228px -44px
}
.mj-w-24-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -228px -66px
}
.mj-w-25-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -228px -88px
}
.mj-w-26-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -228px -110px
}
.mj-w-27-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -228px -132px
}
.mj-w-28-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -228px -154px
}
.mj-w-29-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -228px -176px
}
.mj-w-31-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -198px -0px
}
.mj-w-32-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -198px -22px
}
.mj-w-33-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -198px -44px
}
.mj-w-34-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -198px -66px
}
.mj-w-35-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -198px -88px
}
.mj-w-36-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -198px -110px
}
.mj-w-37-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -198px -132px
}

/* n */
.mj-n-t-m {
	width:6px; height:40px;
	background:url(mj-m.gif) no-repeat -312px -348px;
}

.mj-n-b0-m {
	width:30px; height:48px;
	background:url(mj-m.gif) no-repeat -57px -343px;
}
.mj-n-b1-m {
	width:30px; height:48px;
	background:url(mj-m.gif) no-repeat -87px -343px;
}
.mj-n-b2-m {
	width:22px; height:30px; padding:3px 4px 14px 4px;
	background:url(mj-m.gif) no-repeat -174px -343px;
}

.mj-n-1-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -296px -288px
}
.mj-n-2-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -274px -288px
}
.mj-n-3-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -252px -288px
}
.mj-n-4-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -230px -288px
}
.mj-n-5-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -208px -288px
}
.mj-n-6-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -186px -288px
}
.mj-n-7-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -164px -288px
}
.mj-n-8-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -142px -288px
}
.mj-n-9-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -120px -288px
}
.mj-n-11-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -296px -258px
}
.mj-n-12-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -274px -258px
}
.mj-n-13-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -252px -258px
}
.mj-n-14-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -230px -258px
}
.mj-n-15-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -208px -258px
}
.mj-n-16-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -186px -258px
}
.mj-n-17-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -164px -258px
}
.mj-n-18-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -142px -258px
}
.mj-n-19-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -120px -258px
}
.mj-n-21-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -296px -228px
}
.mj-n-22-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -274px -228px
}
.mj-n-23-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -252px -228px
}
.mj-n-24-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -230px -228px
}
.mj-n-25-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -208px -228px
}
.mj-n-26-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -186px -228px
}
.mj-n-27-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -164px -228px
}
.mj-n-28-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -142px -228px
}
.mj-n-29-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -120px -228px
}
.mj-n-31-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -296px -198px
}
.mj-n-32-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -274px -198px
}
.mj-n-33-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -252px -198px
}
.mj-n-34-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -230px -198px
}
.mj-n-35-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -208px -198px
}
.mj-n-36-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -186px -198px
}
.mj-n-37-m {
	width:22px; height:30px;
	background:url(mj-m.gif) no-repeat -164px -198px
}

/* e */
.mj-e-t-m {
	width:41px; height:7px;
	background:url(mj-m.gif) no-repeat -252px -382px;	
}

.mj-e-b0-m {
	width:40px; height:37px;
	background:url(mj-m.gif) no-repeat -17px -351px;	
}
.mj-e-b1-m {
	width:17px; height:49px;
	background:url(mj-m.gif) no-repeat -117px -339px;	
}
.mj-e-b2-m {
	width:33px; height:22px; padding: 2px 4px 13px 3px;
	background:url(mj-m.gif) no-repeat -117px -339px;	
}

.mj-e-1-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -0px -296px
}
.mj-e-2-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -0px -274px
}
.mj-e-3-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -0px -252px
}
.mj-e-4-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -0px -230px
}
.mj-e-5-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -0px -208px
}
.mj-e-6-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -0px -186px
}
.mj-e-7-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -0px -164px
}
.mj-e-8-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -0px -142px
}
.mj-e-9-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -0px -120px
}
.mj-e-11-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -30px -296px
}
.mj-e-12-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -30px -274px
}
.mj-e-13-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -30px -252px
}
.mj-e-14-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -30px -230px
}
.mj-e-15-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -30px -208px
}
.mj-e-16-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -30px -186px
}
.mj-e-17-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -30px -164px
}
.mj-e-18-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -30px -142px
}
.mj-e-19-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -30px -120px
}
.mj-e-21-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -60px -296px
}
.mj-e-22-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -60px -274px
}
.mj-e-23-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -60px -252px
}
.mj-e-24-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -60px -230px
}
.mj-e-25-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -60px -208px
}
.mj-e-26-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -60px -186px
}
.mj-e-27-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -60px -164px
}
.mj-e-28-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -60px -142px
}
.mj-e-29-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -60px -120px
}
.mj-e-31-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -90px -296px
}
.mj-e-32-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -90px -274px
}
.mj-e-33-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -90px -252px
}
.mj-e-34-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -90px -230px
}
.mj-e-35-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -90px -208px
}
.mj-e-36-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -90px -186px
}
.mj-e-37-m {
	width:30px; height:22px;
	background:url(mj-m.gif) no-repeat -90px -164px
}

